#username,
#password {
  font-size: 14px;
  width: 15vw;
  border-bottom-color: teal;
  border-radius: 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  padding: 5px;
}
